# Node.js
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE
.DS_Store
.vscode/
.idea/

# Terraform
# Ignore Terraform state files and local override configs
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# OS
Thumbs.db
